* {
  /* font-family: "Spectral", serif; */
  font-family: "Sarala", serif;
  font-size: 16px;
}

:root {
  --minH: 360px;
  --fontDark: #444;
  --fontGray: #999;
  --fontLight: #fafafa;
  --themeColor: rgba(4, 128, 170, 0.75);
  --ctaColor: #d58508;
  --mediaWith: 768px;
}

body {
  display: grid;
  grid-template-areas: "Header" "Content" "Footer";
  margin: 0px;
  color: var(--fontDark);
}

.header {
  grid-area: Header;
  min-height: 85vh;
  background-image: linear-gradient(
      to bottom,
      rgba(82, 106, 138, 0.5),
      rgba(20, 15, 15, 0.75)
    ),
    url("http://go.askglobalwealth.com/l/481241/2018-01-24/7bqqn/481241/20453/fort_lauderdale_1429913_1920.jpg");

  background-size: cover;
  background-position: center;
  color: var(--fontLight);
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* border-bottom: 1px solid var(--fontLight); */
  /* background: rgba(180, 180, 180, 0.5); */
}
.cta-phone {
  color: var(--fontLight);
  text-decoration: none;
}

.content {
  grid-area: Content;
  min-height: var(--minH);
  display: grid;
  grid-template-rows: repeat(var(--minH));
}
.logo {
  max-height: 75px;
  max-width: 100%;
}
.icon {
  font-size: 26px;
  margin: 0px 20px;
}
.image {
  width: 100%;
}
.section {
  display: grid;
  grid-template-areas: "title" "line-divider" "content";
  padding: 100px 20px;
}
.section-title {
  grid-area: title;
  font-size: 3rem;
  text-align: center;
  margin: 0 0 30px 0;
}
@media screen and (max-width: var(--mediaWith)) {
  .section-title {
    grid-area: title;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 15px;
  }
}
.section-content {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
@media screen and (max-width: var(--mediaWith)) {
  .section-content {
    grid-area: content;
    grid-template-rows: 1fr;
  }
}
.logos-content {
  grid-area: content;
  display: grid;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(120px, 200px));
}
@media screen and (max-width: var(--mediaWith)) {
  .logos-content {
    grid-template-rows: 1fr;
  }
}
.feature {
  text-align: center;
  margin: 20px 20px;
}
.bullet-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.feature .bullet {
  font-size: 22px;
  text-align: left;
  margin-bottom: 20px;
}
.footer {
  grid-area: Footer;
  min-height: var(--minH);
  background: linear-gradient(245deg, #515858, #313131);
  color: var(--fontLight);
}

.colored-bg {
  background-color: var(--themeColor);
  color: var(--fontLight);
}
.image-bg {
  color: var(--fontLight);
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25),
      rgba(187, 187, 187, 0.15)
    ),
    url("http://go.askglobalwealth.com/l/481241/2018-01-26/7cq4g/481241/20535/florida_miami.png");
  background-size: cover;
  background-position: center;
}
.quote {
  font-size: 24px;
}
.quote-author {
  font-size: 16px;
  color: var(--fontDark);
}
.line-divider-dark {
  grid-area: line-divider;
  width: 35%;
  border-bottom: 1px var(--fontDark) solid;
  height: 1px;
  margin: 0 auto 20 auto;
}
.line-divider-light {
  grid-area: line-divider;
  width: 35%;
  border-bottom: 1px var(--fontLight) solid;
  height: 1px;
  margin: 0 auto 20 auto;
}

/* Form Styles 
	display: none; on the labels
	placeholder text on inputs
	wrap everything in a form-card class
*/
form {
}
.form-card {
  background-color: rgba(4, 128, 170, 0.75);
  padding: 15px;
  border-radius: 4px;
  max-width: 320px;
  margin: 0 auto;
}
.form-field > label {
  display: none;
}
label.field-label {
  color: var(--fontDark);
}
input {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
}
input:focus {
  outline-color: var(--fontLight);
}
.submit > input {
  background-color: var(--ctaColor);
  padding: 5px 5px;
  width: 263px;
  color: var(--fontLight);
  border-radius: 2px;
  border: 0px solid #000;
}
